html, body {
  height: 100%;
  width: 100%;
  font-family: 'Schibsted Grotesk', sans-serif;
}

.button{
  padding:20px;
  margin:3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor:pointer;
   width: 60px;
  height: 60px;
}
.row{
  margin: 8px 0;
}
.row input{
  margin:0;
  padding: 5;
  border: 2px solid black;
  border-radius: 8px;
  width: 275px;
  height:60px;
  font-size: 2rem;
  
}
